.container{
    max-width: 1200px;
    margin: 0 auto;
}
.mainImage{
    transition: 0.3s ease;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnailContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumbnail {
  width: 70px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
}

.thumbnail:hover {
  border: 2px solid #aaa;
}

/* Active thumbnail */
.active {
  border: 2px solid black;
}